extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p I am showcasing my skills as a Full-Stack JavaScript Developer. Please feel free to navigate and explore the different projects I've created.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects


        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='This is a screenshot of my project')
            h5= project.project_name
