extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!'
    h1 Let's make the web great together!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc.
    p I am showcasing my skills as a Full-Stack JavaScript Developer. Please feel free to navigate and explore the different projects I've created.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file
      each project in projects
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='This is a screenshot of my project')
            h5= project.project_name
